<h1>Traveling Merchant Stock</h1>
<p>Finds the Merchant Stock</p>
<%= @calendar.day %>
<p>
	<div class="row">
    <div class="col-md-12">
      <table class="table-bordered table-striped">
        <thead>
          <tr>
            <th colspan="7" class="text-center">
              <% if @calendar.day > 112 %>
                <%= link_to " ", down_year_calendars_path, :method=> :post, class: 'glyphicon glyphicon-chevron-left text-right' %>
              <% end %>
            	<span>Year <%= year(@calendar.day) %></span>
              <%= link_to " ", up_year_calendars_path, :method=> :post, class: 'glyphicon glyphicon-chevron-right text-left' %>
            </th>
          </tr>
          <tr>
            <th colspan="7" class="text-center">
              <% if @calendar.day > 28 %>
                <%= link_to " ", down_season_calendars_path, :method=> :post, class: 'glyphicon glyphicon-chevron-left text-right' %>
              <% end %>
              <span><%= season(@calendar.day) %></span>    
              <%= link_to " ", up_season_calendars_path, :method=> :post, class: 'glyphicon glyphicon-chevron-right text-left' %>
            </th>
          </tr>
          <tr>
            <th class="col-md-1">Week</th>
            <th class="col-md-3">Friday</th>
            <th class="col-md-3">Sunday</th>
          </tr>
        </thead>
        <tbody>
          <% [5, 7, 12, 14, 19, 21, 26, 28].each do |day| %>
            <% if day % 7 == 5 %>
              <tr><th>Week <%= day / 7 + 1 %>
            <% end %>
              <th><%= render partial: 'tools/stock', locals: {game_id: @game_id, day: day} %></th>
            <% if day % 7 == 6 %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
	</div>
</p>
